body {
  color: #3b6e8f !important;
  padding-top: 80px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .navbar-custom {
  background-color: #3b4755;
}

.nav-link-custom {
  color: #ffffff; 
  background-color: #4b5d73;
}

.nav-link-custom:hover {
  background-color: #6c7a96; 
}

.nav-link-custom.active {
  background-color: #2d3c4f;
}

.search-icon {
  color: #ffffff;
  background-color: #6c7a96;
}

.nav-item {
  background-color: #4b5d73; 
  color: white;
}

.nav-item.active {
  background-color: #2d3c4f; 
}

.navbar {
  background-color: #3b4755;
} */

.navbar{
  padding-top: 0;
}

.navbar-head {
  color: white !important;
}

.navbar-custom {
  background-color: #3b4755; /* Main Navbar background color */
  border: none;
}

.nav-link-custom {
  color: white !important;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.nav-link-custom:hover,
.nav-link-custom:active,
.nav-link-custom.active {
  background-color: #deeefb;
  color: #3b4755 !important;
}